body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	margin: 0;
	background: #f7f7f7;
}

p, h1, h2, h3, h4, h5, h6{
	margin:0;
}

.wrapper{
	display: grid;
    grid-template-rows: repeat(3, 15vh);
    grid-template-columns: repeat(3, 10%);
    justify-content: center;
}

.wrapper>div{
	border: 1px solid #333;
	text-align: center;
    font-size: 3em;
    line-height: 15vh;
}

button{
	margin: auto;
    display: block;
    margin-top: 5%;
}
